<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <a class="navbar-brand" [routerLink]="['/home']" routerLinkActive="active" 
    [routerLinkActiveOptions]="{exact: true}">ACCOUNT-HUB</a>

    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarColor01">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/owner/list']" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}"> Owner </a>
        </li>
        <li class="nav-item">
          <a class="nav-link"[routerLink]="['/owner/account']" routerLinkActive="active" 
          [routerLinkActiveOptions]="{exact: true}">Account</a>
        </li>
      </ul>

    </div>
  </nav>
